<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="${LOG_PATH:-./logs}"/>
    <property name="DB_URL" value="${DB_URL:-jdbc:postgresql://localhost:5432/chpmanDB}"/>
    <property name="DB_USER" value="${DB_USER:-chpman}"/>
    <property name="DB_PASS" value="${DB_PASS:-chpmanPass%}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan([%file:%line]) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ru.ac.checkpointmanager.configuration.DBAppender">
        <url>${DB_URL}</url>
        <username>${DB_USER}</username>
        <password>${DB_PASS}</password>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_PATH}/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DB"/>
    </root>

    <logger name="ru.ac.checkpointmanager" level="debug">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>

</configuration>
